/*============================================================
	Property of:		MISOM TECHNOLOGIES
	Developer:			AARON MCCOLOUGH
	Application Name:	FARA
	Directory:			FARA/CSS
	File Name:			apps.css
	Created Date:		05/27/2015
	Last Update On:		06/01/2015
=============================================================*/

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	line-height: 12px;
}

a {
	text-decoration: none;
}

html, body {
	font-family: 'Titillium Web', sans-serif;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Titillium Web', sans-serif;
	background: #e5e5e5;
}

#icon_desktop {
	width: 100%;
	height: 100%;
	background: #384046;
	width: 100%;
	height: 100%;
}
#icon_container {
	padding: 10px;
}

#icon_desktop ul {
	list-style: none;
	padding: 0;
	margin: 0;
	border: 0;
}

#icon_desktop ul li div {
	width: 55px;
	height: 55px;
	border-radius: 10px;
	margin-left: 10px;
}

#icon_desktop ul li {
	color: #eee;
	font-size: .9em;
	text-align: center;
	width: 75px;
	height: 75px;
	margin: 25px;
	border-radius: 5px;
	border: solid 6px rgba(0,0,0,0);
	box-sizing: initial;
}

#cycles_div {
	background: #384046 url("../images/cycles_icon.png") no-repeat center center;
	background-size: cover;	
}

#esc_div {
	background: #384046 url("../images/esc_icon.png") no-repeat center center;
	background-size: cover;	
}

.icon_link:hover > #cycles_div, .icon_link:hover > #esc_div, .icon_link:hover {
	background-color: #777;
	cursor: pointer;
}

#navigation {
	height: 80px;
	width: 100%;
	background: #919191;
	display: block;
	z-index: 100;
	position: absolute;
	bottom: 0;
}

#navigation button {
	background: none;
	border: none;
	font-size: 18px;
	color: #ddd;
	width: 100px;
	height: 80px;
	display: inline-block;
}

#navigation button:hover {
	cursor: pointer;
	color: #fff;
}

#logged-in_user {
	background: none;
	height: 80px;
	display: inline-block;
	font-size: 18px;
	color: #fff;
}